/* ========================================
 * CSS written here will override Tachyons
 * ======================================== */
.name {
  color: #f8f9f9;
  font-family: biko;
}

.gray {
  color: #555555;
}

.biko {
  font-family: biko;
}

@media (min-width: 600px) {
  .name {
    font-family: biko;
    font-size: 8rem;
    margin-bottom: 0px;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1.654fr 1fr;
    grid-gap: 25px;
  }
  .grid2 {
    display: grid;
    grid-template-columns: 1fr 1.777fr 1fr;
    grid-gap: 25px;
  }

  .img {
    max-width: 100%;
  }

  .grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
  }

  .grid3 {
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    grid-gap: 50px;
  }

  .grid4 {
    display: grid;
    grid-template-columns: 0.71fr 1fr;
    grid-gap: 25px;
  }

  .grid5 {
    display: grid;
    grid-template-columns: 0.3275fr 0.3275fr 0.3275fr;
    grid-gap: 25px;
  }

  .grid6 {
    display: grid;
    grid-template-columns: 0.65fr 0.35fr;
    grid-gap: 10px;
  }

  .grid7 {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-gap: 10px;
  }

  .grid8 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
  }

  .video {
    max-width: 100%;
  }

  .mover {
    position: absolute;
    left: 30%;
    top: 1rem;
    font-size: 1rem;
    margin: 0;
    animation-name: move-it;
    animation-duration: 20s;
    animation-timing-function: linear;
  }

  .stay {
    position: fixed;
  }

  @keyframes move-it {
    0% {
      left: 30%;
    }
    100% {
      left: 70%;
    }
  }
}
