/* ========================================
 * CSS written here will override Tachyons
 * ======================================== */
.name {
  color: #f8f9f9;
  font-family: biko;
}

.gray {
  color: #555555;
}

.biko {
  font-family: biko;
}

@font-face {
  font-family: biko;
  src: url(fonts/biko_regular.otf);
}

@media (min-width: 600px) {
  .name {
    font-family: biko;
    font-size: 8rem;
    margin-bottom: 0px;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1.654fr 1fr;
    grid-gap: 25px;
  }
  .grid2 {
    display: grid;
    grid-template-columns: 1fr 1.777fr 1fr;
    grid-gap: 25px;
  }

  .img {
    max-width: 100%;
  }

  .grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
  }

  .grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
  }
  /* 0.4fr */
  .grid4 {
    display: grid;
    grid-template-columns: 0.71fr 1fr;
    grid-gap: 25px;
  }

  .grid5 {
    display: grid;
    grid-template-columns: 310px 310px 310px;
    grid-gap: 20px;
  }
/* grid 5是3格的 */

.grid12 {
  display: grid;
  grid-template-columns: 310px 310px 310px;
  grid-gap: 0px;
}
/* grid12 是grid5没有间隔 */

.grid8 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
}

.grid13 {
  display: grid;
  grid-template-columns: 310px 310px 310px 310px;
  grid-gap: 0px;
}

  .grid6 {
    display: grid;
    grid-template-columns: 450px 450px;
    grid-gap: 20px;
  }

  .grid7 {
    display: grid;
    grid-template-columns: 610px 310px;
    grid-gap: 20px;
  }

  .grid8 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
  }

  .grid9 {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-gap: 20px;
  }

  .grid10 {
    display: grid;
    grid-template-columns: 910px;
    grid-gap: 25px;
  }

  .grid11{
    display: grid;
    grid-template-columns: 450px 450px;
    grid-gap: 0px;
  }



  .video {
    max-width: 100%;
  }

  .mover {
    position: absolute;
    left: 30%;
    top: 1rem;
    font-size: 1rem;
    margin: 0;
    animation-name: move-it;
    animation-duration: 20s;
    animation-timing-function: linear;
  }

  .stay {
    position: fixed;
  }

  @keyframes move-it {
    0% {
      left: 30%;
    }
    100% {
      left: 70%;
    }
  }

  .web {
  width: 500px;
}
}
